//this is sample file all data asigned if wrong but variable name is right

PORT=
MONGODB_URI=

CORS_ORIGIN=

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=

CLOUDINARY_CLOuD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


PORT=8000
MONGODB_URI=mongodb+srv://archana:archana123@cluster0.ohqtpmr.mongodb.net

CORS_ORIGIN=* 

ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-code-with-blog-backend
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=archanacloudinary
CLOUDINARY_API_KEY=669643414575525
CLOUDINARY_API_SECRET=98d5mciAC46GE04kL5PB7hW6BL8
